<extend name="Public:public" />
<block name="title">忘记密码</block>
<block name="body">
  <h2>忘记密码</h2>
  <div class="am-margin">
    <div class="am-tab-panel am-fade am-in am-active">
      <div class="am-g am-margin-top">
        <div class="am-u-sm-12 am-u-md-2 am-text-right"><a href="http://wpa.qq.com/msgrd?v=3&uin={:C('ADMIN_QQ')}&site=qq&menu=yes" class="am-btn am-btn-danger am-btn-sm"><i class="am-icon-user am-icon-sm"></i> 联系管理员找回</a></div>
      </div>
    </div>
  </div>
  <div class="am-cf">
    <a href="{:U('User/Public/reg')}" class="am-btn am-btn-success am-btn-sm am-fr">注册</a>
    <a href="{:U('User/Public/login')}" class="am-btn am-btn-primary am-btn-sm am-fr" style="margin:0px 5px">返回登录</a>
  </div>
</block>
