<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<title>
<block name="title">{$title}</block> - {:C('WEB_SITE_TITLE')}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="alternate icon" type="image/png" href="assets/i/favicon.png">
<link rel="stylesheet" href="__CSS__/amazeui.min.css"/>
<style>
.header {
	text-align: center;
}
.header h1 {
	font-size: 200%;
	color: #333;
	margin-top: 30px;
}
.header p {
	font-size: 14px;
}
</style>
</head>
<body>
<div class="header">
  <div class="am-g">
    <h1>{:C('WEB_SITE_TITLE')}</h1>
    <p>{:C('WEB_SITE_KEYWORD')}<br/>
      {:C('WEB_SITE_DESCRIPTION')}</p>
  </div>
  <hr />
</div>
<div class="am-g">
  <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
    <block name="body"></block>
    <hr>
    <p>Powered by <a href="{:C('SOFT_SITE')}" style="color:#666">{:C('SOFT_NAME')} v {:C('SOFT_VERSION')}</a> | Copyright © <a href="{:C('SOFT_AUTHOR_SITE')}" style="color:#666">{:C('SOFT_AUTHOR')}</a> All rights reserved.</p>
  </div>
</div>
</body>
</html>
